.honeycombs{
	position: relative;
	overflow: hidden;
	width: 100%;
	text-align: center;
}

.honeycombs .inner_span{
	display: block;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	color: #000;
}
.honeycombs .inner-text{
	height: 100%;
	width: 100%;
	background-color: #f7cd07;
	padding-top: 30%;
}

.honeycombs .honeycombs-inner-wrapper{
	display: inline-block;
	overflow: hidden;
	width: 700px;
	position: relative;
	height: 1200px;
}

.honeycombs .comb{
	position: absolute;
	display: inline-block;
}

.honeycombs .hex_l,
.honeycombs .hex_r{
	overflow: hidden;
	position: absolute;
	/* -webkit-backface-visibility: hidden; */
}

.honeycombs .hex_l{
	visibility: hidden;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	
	transform: rotate(60deg);
}

.honeycombs .hex_r{
	visibility: hidden;
	-moz-transform: rotate(-120deg);
	-ms-transform: rotate(-120deg);
	-o-transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);
	
	transform: rotate(-120deg);
}

.honeycombs .hex_inner{
	display: block;
	visibility: visible;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	
	transform: rotate(60deg);
	
	background-position: center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
	ccursor: pointer;
	
}



/* alveole rotation * /

.honeycombs .hex_l{
	transform: rotate(30deg);
}

.honeycombs .hex_r{
	transform: rotate(60deg);
}

.honeycombs .hex_inner {
	transform: rotate(60deg);
}

.honeycombs .inner_span {
	transform: rotate(-150deg);
}

*/


.honeycombs {
	padding-top: 25px;
}

.hex_inner {
	height: 200px;
	background-color: none;
	overflow: hidden;
}

.inner_span {
  	background-size: cover;
}

#customer .custom .inner_span {
  	background-size: 140px;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-color: #f7cd07;
  	background-color: #616161;
  	background-color: #DADADA;
}

.inner_span h2 {
	font-size: 14px;
}

.inner_span h2 {
	line-height: normal;
	margin: 25px 0 10px 0;
}

.inner_span ul {
	margin: 0;
	padding: 0;
}