
* {
	margin: 0;
	padding: 0;
	ccursor: url(../img/cursor-bee.png) 10 10, auto;
	cursor: inherit;
}

/*

@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 300;
	src: local('Oxygen Light'), local('Oxygen-Light'), 
		url(../font/Oxygen-Light.woff2) format('woff2'), 
		url(../font/Oxygen-Light.woff) format('woff');
}

@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 400;
	src: local('Oxygen'), local('Oxygen-Regular'), 
		url(../font/Oxygen-Regular.woff2) format('woff2'), 
		url(../font/Oxygen-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 700;
	src: local('Oxygen Bold'), local('Oxygen-Bold'), 
		url(../font/Oxygen-Bold.woff2) format('woff2'), 
		url(../font/Oxygen-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Lobster';
    src: url('../font/Lobster_1.3.eot');
    src: url('../font/Lobster_1.3.eot?#iefix') format('embedded-opentype'),
         url('../font/Lobster_1.3.woff2') format('woff2'),
         url('../font/Lobster_1.3.woff') format('woff'),
         url('../font/Lobster_1.3.ttf') format('truetype'),
         url('../font/Lobster_1.3.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*/

@font-face {
	font-family: 'MullerExtraBold';
	src: url('../font/Muller/webfonts/2F0EEA_0_0.eot');
	src: url('../font/Muller/webfonts/2F0EEA_0_0.eot?#iefix') format('embedded-opentype'),
		url('../font/Muller/webfonts/2F0EEA_0_0.woff2') format('woff2'),
		url('../font/Muller/webfonts/2F0EEA_0_0.woff') format('woff'),
		url('../font/Muller/webfonts/2F0EEA_0_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'MullerLight';
	src: url('../font/Muller/webfonts/2F0EEA_1_0.eot');
	src: url('../font/Muller/webfonts/2F0EEA_1_0.eot?#iefix') format('embedded-opentype'),
		url('../font/Muller/webfonts/2F0EEA_1_0.woff2') format('woff2'),
		url('../font/Muller/webfonts/2F0EEA_1_0.woff') format('woff'),
		url('../font/Muller/webfonts/2F0EEA_1_0.ttf') format('truetype');
}


html,
body {
	height: 100%;
ffont-family: 'Open Sans';
	font-family: 'MullerLight';
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	background: #B3E8FF url(../img/idee-lab-white.png) center center no-repeat fixed;
	background: #f9ad18 url(../img/bg8.png) center center no-repeat fixed;
}

h1 {
	font-size: 32px;
	color: #2C2F32;
	text-align: center;
	text-transform: capitalize;	
ffont-family: "Lobster";
	color: black;
	font-weight: lighter;
}

h2 {
	color: #2C2F32;
	text-transform: capitalize;
ffont-family: "Oxygen",Helvetica,Arial;	
}

h3 {
	font-size: 1.1em;
}

h5 {
	margin-bottom: 10px;
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #2C2F32;
	padding: 0 30px;
	text-align: center;
	font-size: 0.8em;
	z-index: 2;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


nav a {
	margin: 0 15px;
	color: white;
	text-transform: uppercase;
	display: inline-block;
	padding: 30px 0;
}

nav a:hover,
nav a:focus,
.hover {
	ffont-weight: bold;
	ttext-decoration: underline wavy red;
	ffont-style: italic;
	font-weight: bold;
	color: #f9ad18 !important;
}

p,
li,
h3,
h5 {
	color: grey;
}

li {
	list-style-type: none;
}

li:before {
	content: '+ ';
}

optgroup {
	margin: 10px;	
}

optgroup option {
	margin-left: 12px;
}

iframe {
	width: 100% !important;
	height: 100%;
	border: none;
}

.tableau,
.content {
	display: block;
	position: absolute;
	background-color: #F5F5F5;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	z-index: 1;
	overflow: hidden;
}

.tableau>h5 {
	text-align: center;
	margin: 15px;
}

.tableau>h1 {
	margin: 15px 0;
	padding: 0 10px;
}

.tableau>p,
.tableau>h2,
.tableau>h3,
.tableau>h4 {
	max-width: 500px;
	margin: auto;
	padding: 0 10px;
	text-align: left;
}

.tableau>span {
	display: block;
	width: 80px;
	height: 2px;
	background-color: #F9AD18;
	margin: 15px auto;
	padding: 0 10px;
}

.tableau>article:last-of-type {
	margin-bottom: 100px !important;
}




/*--------- GENERAL ---------------------------------------------------*/

#job,
#labo,
#palabres {
	text-align: center;
}

#product article {
	display: inline-block;
	vertical-align:top;
	position: relative;
	width: 250px;
	height: 260px;
	padding: 55px 30px;
	padding-top: 100px;
	margin: 20px 10px;
	background: url(../img/hexagon-bg-360x312.png) no-repeat top right;
}

#product article h2 {
	margin: 0 15px;
}

article h2 {
	text-align: center;
	margin-bottom: 10px;
}

article h3 {
	font-style: normal;
	font-weight: 500;
	text-transform: capitalize;
	margin-top: 15px;
}
	
article p {
	font-size: 0.9em;
	margin-bottom: 10px;
}

article ul {
	text-align: left;
	display: inline-block;
	margin-bottom: 10px;
}

article li {
	font-size: 1.1em;
}

article a {
	vertical-align: middle;
}



/*--------- INDEX -----------------------------------------------------*/


#index {
	top: 0;
	background: none;
}

#logo {
	width: 100%;
	height: 100%;
	overflow: hidden;
}




/*--------- L'EQUIPE --------------------------------------------------*/

#team,
#job {
	background: linear-gradient( to bottom, #88BB40, #6E9C2D);
	background: linear-gradient( to bottom, #A8E257, #507120);
	background: #4b6427 url(../img/bg-team.png) repeat-x 0 0;
	background: url(../img/bg1.png)repeat 0 0;
	padding: 30px;
}

#team img:first-of-type {
	position: absolute;
	right: 60%;
}

#team img:last-of-type {
	position: absolute;
	left: 60%;
}

#team svg {
	background-image: url(../img/bee.png) no-repeat center center;
}

#team path {
	stroke: black;
	stroke-width: 1px;
	ccursor: pointer;
}

#team .job {
	fill: black;
	stroke: black;
	stroke-width: 1px;
	font-family: sans-serif;
	font-size: 20px;
	text-anchor: middle;
}

#team #Bruno {
	fill: url('/#img1');
}

#team .name {
	fill: grey;
	stroke: none;
	stroke-width: 0;
	font-family: sans-serif;
	font-size: 12px;
	text-anchor: middle;
}

#team path img {
	border: 4px red solid;
	min-width: 100px;
	min-width: 100px;
}

.cloud {
	position:absolute;
	width: 250px;
	left: 50%;
	margin-left: -125px;
}

.cloud p {
	ffont-family: "Lobster";
	font-size: 30px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px  0px black;
}

#team .cloud p:first-of-type {
	margin-left: 50px;
}

#team .cloud p:last-of-type {
	margin-right: 50px;
}





/*--------- SAVOIR FAIRE ----------------------------------------------*/


#job {
	height: 100%;
}


#job.txt {
	text-anchor: middle;
} 

#job h1 {
	padding: 20px 10px 10px;
}

#job ul {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	padding: 0 20px 20px;
}


#job #conteneur {
	height: 100%;
	background-color: white;
}
	
#creation {
	min-height: 33%;
	bbackground: #6E9C2D url(../img/nature.png) no-repeat center 0px;
	background-color:#6E9C2D;
	background-color:#D0D0D0;
	background-size: 100%;
}

#creation li {
	color: white;
}

#developpement {
	min-height: 33%;
	bbackground: #B3E8FF url(../img/sky.png) no-repeat center 0px;
	background-color:#B3E8FF;
	background-color:#EEEEEE;
	background-size: 100%;
}

#developpement li {
	color: #2c2f32;
}

#marketing {
	min-height: 34%;
	bbackground: white url(../img/snowflake.png) no-repeat center 0px;
	background-size: 100%;
}

#marketing h1 {
	color: black;
	text-shadow: none;
	font-weight: lighter;
}

#marketing li {
	color: black;
}

#creation ul:last-of-type {
	padding-bottom: 100px;
}


.honeycombs {
	max-width: 1024px;
	margin: auto;
	margin-top: 30px;
}


/*--------- OFFRE ----------------------------------------------------*/

#product {
	overflow: hidden;
	background: white url(../img/bee.png) no-repeat center center;
	background-size: contain;
	background-size: 85%;
	background-position: 80px  80px center;
}

#submenu>img {
	position: fixed;
	bottom: 100px;
	max-width: 50px;
	display: none;
	opacity: 0.5;
}

#submenu>img:hover {
	opacity: 0.8;
}

#submenu>img:first-of-type {
	left: 20px;
}

#submenu>img:last-of-type {
	right: 20px;
}

#product #conteneur {
	position: relative;
	width: 30000em;
}

#product .jcarousel {
	overflow: hidden;
/*
	height: 400px;
*/
}

#product article {
	width: 253px;
	padding-left: 340px;
}

#product article>img {
	position: absolute;
	top: 0;
	left: 0;
}

#product article>p {
	width: 60px;
	height: 60px;
	padding: 10px;
	padding-top: 20px;
	position: absolute;
	top: 50px;
	right: -35px;
	background-color: #f9ad18;
	color: black;
	border-radius: 40px;
	text-align: center;
	font-weight: bold;
	font-size: .8em;
}


#submenu {
	display: table-cell;
	bottom: 100px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	padding: 0 50px;
	width: 100%;
	height: 100px;
}

#submenu a {
	font-size: 14px;
	font-weight: bold;
	color: grey;
	display: inline-block;
	margin: 0 10px;
}

#submenu #pagin {
	opacity: 0;
	text-align: center;
	display: inline-block;
}

#primary,
#secondary,
#tertiary {
	max-width: 600px;
	margin: auto;
	background-color: #f5f5f5;
	padding: 15px;
}

#secondary {
	margin-top: 30px;
	text-align: right;
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
}

#secondary img {
	width: 36px;
}

#primary footer {
	display: none;
}

#tertiary {
	height: 50px;
	margin-bottom: 100px;
	border-bottom-left-radius: 28px;
	border-bottom-right-radius: 28px;
bbackground: transparent url(../img/tertiary-bg.png) repeat-x top left;
}





/*--------- PALABRES --------------------------------------------------*/


#palabres article {
	display: inline-block;
	vertical-align:top;
	overflow: hidden;
	position: relative;
	width: 80%;
	max-width: 900px;
	padding: 30px;
	padding-bottom: 100px;
	margin: 20px 10px;
	ffont-family: 'Oxygen';
	background-color: white;
	border: 1px solid #E8E8E8;
	box-shadow: 2px 2px 4px #DFDFDF;
	border-radius: 3px;
	overflow: hidden;
	text-align: left;
}

#palabres article .alignleft {
	float: left;
	margin-right: 10px;
}

#palabres article .alignright {
	float: right;
	margin-left: 10px;
}


#palabres .closed {
	max-height: 40px;
}

#palabres article>div {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 80px;
	height: 80px;
	text-align: center;
	background: url(../img/palabre-bg.png) repeat-x bottom left;
}

#palabres .open span {
	padding: 10px 25px;
	border: 1px #C8C8C8 solid;
	border-radius: 4px;
	background-color: #F4F4F4;
	color: #555;
}

/*--------- CLIENTS ---------------------------------------------------*/

#customer .inner-text {
	display: none;
}


/*--------- LABO ------------------------------------------------------*/

#labo>div {
	margin: auto;
	max-width: 996px;
	text-align: left;
	margin-bottom: 100px;
}

#anim,
#grotte {
	width: 600px;
	height: 350px;
}

#labo article {
	display: inline-block;
	vertical-align:top;
	overflow: hidden;
	position: relative;
	width: 250px;
	height: 140px;
	padding: 30px;
	margin: 10px;
	background-color: white;
	border: 1px solid #E8E8E8;
	box-shadow: 2px 2px 4px #DFDFDF;
	border-radius: 3px;
	overflow: hidden;
	text-align: center;
	color: grey;
}


#labo img {
	display: block;
	max-height: 100px;
	width: auto;
	margin: auto;
	margin-bottom: 10px;
}


/*--------- CONTACT ---------------------------------------------------*/

#contact form {
	display: block;
	max-width: 600px;
	margin: auto;
	padding: 10px;
	padding-bottom: 100px;
}

#contact h3 {
	margin-top: 15px;
}

#contact textarea {
	width: 95%;
}

#contact label {
	display: inline-block;
	width: 35%;
}

#contact input[type=text],
#contact input[type=email],
#contact select {
	display: inline-block;
	margin: 5px 0;
	width: 60% !important;
}

#contact input[type=submit],
#contact textarea {
	margin: 5px auto;
}

#contact input,
#contact textarea,
#contact select {
	border: 1px lightGrey solid;
	border-radius: 5px;
	padding: 8px;
	background-color: inherit;
}

#contact input[type=submit] {
	background-color: #F9AD18;
	color: white;
}

.wpcf7-form>p {
	text-align: right;
}



/*--------- CONTENT ---------------------------------------------------*/


.content {
	background: url(../img/content-bg.png) repeat top left;
}

.content article a {
	position: relative;
	left: auto;
	bottom: auto;
}

.content #primary h1 {
	margin-bottom: 15px;
}

.content #primary p {
	margin-bottom: 10px;
}

.content #primary img {
	max-width: 100%;
	margin-bottom: 10px;
}

.content #primary .thumbnail {
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.aligncenter {
	display: block;
	margin: auto;
}


/*--------- MOBILITY --------------------------------------------------*/


@media (max-width: 400px) {

	#team>img {
		max-height: 300px;
	}
}

@media (max-width: 700px) {

	#product>p,
	#product>span,
	#product article>img {
		display: none;
	}
	
	#product h1 {
		margin: 0;
	}

	#product>img {
		display: none !important;
	}

	#product article {
		padding-left: 30px;
		height: 253px;
	}
	
	#product article>a {
		left: 70px;
	}



}






/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}


/*--------- IMG PRELOAD -----------------------------------------------*/

#preload {
	display: none;
}
