
	<section id="customer" class="tableau">
	
		<div class="honeycombs">
			<article class="comb custom"><img src="/uploads/2016/04/logo_bangui_2.png"/><span><h2><a href="bangui-sols-coules">Groupe Bangui</a></h2><p><a href="bangui-sols-coules"></a></p></span></article>
			<article class="comb custom"><img src="/uploads/2016/02/dubarry.png"/><span><h2><a href="comtesse-du-barry">Comtesse Du Barry</a></h2><p><a href="comtesse-du-barry"></a></p></span></article>
			<article class="comb custom"><img src="/uploads/2016/01/nogaropole-1.png"/><span><h2><a href="nogaropole">Nogaropôle</a></h2><p><a href="nogaropole"></a></p></span></article>
			<article class="comb custom"><img src="/uploads/2016/01/neologique.png"/><span><h2><a href="neologique-fr">Neologique.fr</a></h2><p><a href="neologique-fr"></a></p></span></article>
			<article class="comb custom"><img src="/uploads/2016/01/pianoauxjacobins.png"/><span><h2><a href="piano-aux-jacobins">Piano aux Jacobins</a></h2><p><a href="piano-aux-jacobins"></a></p></span></article>
			<article class="comb custom"><img src="/uploads/2016/01/ot-lectoure.png"/><span><h2><a href="office-du-tourisme-de-lectoure">Office du Tourisme de Lectoure</a></h2><p><a href="office-du-tourisme-de-lectoure"></a></p></span></article>
			<article class="comb"><img src="/img/abeilles1.jpg" /></article>
			<article class="comb"><img src="/img/abeilles2.jpg" /></article>
			<article class="comb"><img src="/img/abeilles3.jpg" /></article>
			<article class="comb"><img src="/img/abeilles4.jpg" /></article>
			<article class="comb"></article>
			<article class="comb"></article>
			<article class="comb"></article>
			<article class="comb"></article>
		</div>
		
		<script type="text/javascript">
			pre_load=function()
			{
				$('#customer .honeycombs').honeycombs({combWidth:200,hiddenTitle:true});
			}
		</script>

	</section>
