
			<section id="labo" class="tableau">

				<h5></h5>
				<h1>Domaines de compétences</h1>
				
									
				<p><b>Idée Lab</b> une agence de communication numérique supportée par la coopérative (CAE) <b>Kanopé</b>.
				Ses membres sont des consultants seniors qui maîtrisent leurs savoir-faire, et qui cherchent à (ré)concilier
				efficacité et qualité de vie.</p>
			<div>
			<article><img width="145" height="180" src="/uploads/2015/11/logo6.png" class="attachment-250x180 size-250x180 wp-post-image" alt="Sites web" srcset="/uploads/2015/11/logo6.png 395w, /uploads/2015/11/logo6-242x300.png 242w" sizes="(max-width: 145px) 100vw, 145px" />Sites web</article>
			<article><img width="194" height="180" src="/uploads/2015/11/logo9.png" class="attachment-250x180 size-250x180 wp-post-image" alt="référencement" srcset="/uploads/2015/11/logo9.png 426w, /uploads/2015/11/logo9-300x279.png 300w" sizes="(max-width: 194px) 100vw, 194px" />référencement</article>
			<article><img width="203" height="180" src="/uploads/2010/03/logo4.png" class="attachment-250x180 size-250x180 wp-post-image" alt="Charte graphique" srcset="/uploads/2010/03/logo4.png 602w, /uploads/2010/03/logo4-300x266.png 300w" sizes="(max-width: 203px) 100vw, 203px" />Charte graphique</article>
			<article><img width="116" height="180" src="/uploads/2015/11/logo5.png" class="attachment-250x180 size-250x180 wp-post-image" alt="Applis mobiles" srcset="/uploads/2015/11/logo5.png 349w, /uploads/2015/11/logo5-193x300.png 193w" sizes="(max-width: 116px) 100vw, 116px" />Applis mobiles</article>
			<article><img width="225" height="180" src="/uploads/2015/11/logo8.png" class="attachment-250x180 size-250x180 wp-post-image" alt="webmastering" srcset="/uploads/2015/11/logo8.png 563w, /uploads/2015/11/logo8-300x240.png 300w" sizes="(max-width: 225px) 100vw, 225px" />webmastering</article>
			<article><img width="220" height="180" src="/uploads/2015/11/logo7.png" class="attachment-250x180 size-250x180 wp-post-image" alt="communication" srcset="/uploads/2015/11/logo7.png 540w, /uploads/2015/11/logo7-300x245.png 300w" sizes="(max-width: 220px) 100vw, 220px" />communication</article>
			<article><img width="156" height="180" src="/uploads/2015/11/logo3.png" class="attachment-250x180 size-250x180 wp-post-image" alt="Logos" srcset="/uploads/2015/11/logo3.png 372w, /uploads/2015/11/logo3-260x300.png 260w" sizes="(max-width: 156px) 100vw, 156px" />Logos</article>
			<article><img width="194" height="180" src="/uploads/2015/11/logo2.png" class="attachment-250x180 size-250x180 wp-post-image" alt="Multimédia" srcset="/uploads/2015/11/logo2.png 452w, /uploads/2015/11/logo2-300x278.png 300w" sizes="(max-width: 194px) 100vw, 194px" />Multimédia</article>
			<article><img width="250" height="148" src="/uploads/2015/11/logo1.png" class="attachment-250x180 size-250x180 wp-post-image" alt="Typographies" srcset="/uploads/2015/11/logo1.png 467w, /uploads/2015/11/logo1-300x177.png 300w" sizes="(max-width: 250px) 100vw, 250px" />Typographies</article>
			</div>

				<script>
					pre_load = function()
					{
					}
					post_load = function()
					{
					//	anim_demo3d( '#anim' )
					}
				</script>

			</section>
