
			
			<section id="contact" class="tableau">
				<h5>Un besoin, une question ?</h5>
				<h1>Contactez-nous</h1>
				<span></span>

				<h3> </h3>
<h3>Votre contact technique :</h3>
<p>Aurélien Chirot / 06 77 13 21 22</p>
<h3>Votre contact communication :</h3>
<p>Bruno Sajno / 06 79 51 12 97</p>
<p> </p>
<h3>Venez nous rencontrer dans nos locaux :</h3>
<p>6 rue Roger Salengro<br />Innoparc / CEEI<br />32000 Auch</p>
<p> </p>
<div role="form" class="wpcf7" id="wpcf7-f11-o1" lang="fr-FR" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/wp-admin/admin-ajax.php#wpcf7-f11-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="11" />
<input type="hidden" name="_wpcf7_version" value="4.5.1" />
<input type="hidden" name="_wpcf7_locale" value="fr_FR" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f11-o1" />
<input type="hidden" name="_wpnonce" value="a51736e980" />
</div>
<fieldset>
<legend>Votre demande</legend>
<p>    <span class="wpcf7-form-control-wrap sujet"><select name="sujet" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false"><option value="">---</option><option value="Site internet">Site internet</option><option value="Référencement">Référencement</option><option value="Développement">Développement</option><option value="Hébergement">Hébergement</option><option value="Communication">Communication</option><option value="Design graphique">Design graphique</option><option value="Autre">Autre</option></select></span><br />
    <span class="wpcf7-form-control-wrap client-message"><textarea name="client-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></textarea></span>
</p></fieldset>
<fieldset>
<legend>Et pour qu'on puisse vous répondre...</legend>
<p>    <label for="client-name">Votre nom</label><span class="wpcf7-form-control-wrap client-name"><input type="text" name="client-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span><br />
    <label for="client-email">Votre email</label><span class="wpcf7-form-control-wrap client-email"><input type="email" name="client-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span><br />
    <label for="client-tel">Votre téléphone</label><span class="wpcf7-form-control-wrap client-tel"><input type="tel" name="client-tel" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" /></span><br />
</fieldset>
<p><input type="submit" value="Envoyer" class="wpcf7-form-control wpcf7-submit" /></p>
<p>(Tous les champs sont obligatoires !)</p>
<style>
fieldset {
border: 1px grey solid;
margin: 30px 0;
padding: 25px 35px;
}
label {
display: inline-block;
width: 30%;
}
input,select {
display: inline-block;
margin: 10px 0;
width: 60% !important;
}
</style>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
			</section>
			
			
		
		<script type="text/javascript">
			pre_load=function(){}
		
			post_load=function()
			{
				var thankyou = function()
				{
					alert( 'Merci !' );
					window.location.href = '/';
				}
				
				var doPost = function( e )
				{
					e.preventDefault();
					
					var url = $(this).attr('src');
					var data = $(this).serialize();
					$.post( url, data, thankyou );
				}
				
				$('#contact').find('form').on( 'submit', doPost );
			}
		</script>

			
