
	<section id="team" class="tableau">
	
		<div class="honeycombs">
			<article class="comb"><span><h2><a href="cathy-jardin">Cathy Jardin</a></h2><ul><a href="cathy-jardin">La com'</a></ul></span></article>
			<article class="comb"><span><h2><a href="stephanie-cerrajero">Stéphanie Cerrajero</a></h2><ul><a href="stephanie-cerrajero">Le design</a></ul></span></article>
			<article class="comb"><span><h2><a href="bruno-sajno">Bruno Sajno</a></h2><ul><a href="bruno-sajno">Le marketing</a></ul></span></article>
			<article class="comb"><span><h2><a href="aurelien-chirot">Aurélien Chirot</a></h2><ul><a href="aurelien-chirot">La technique</a></ul></span></article>
			<article class="comb"><img src="/img/abeilles1.jpg" /></article>
			<article class="comb"><img src="/img/abeilles2.jpg" /></article>
			<article class="comb"><img src="/img/abeilles3.jpg" /></article>
			<article class="comb"><img src="/img/abeilles4.jpg" /></article>
			<article class="comb"></article>
			<article class="comb"></article>
			<article class="comb"></article>
			<article class="comb"></article>
		</div>
		
		<script type="text/javascript">
			pre_load=function()
			{
				$('#team .honeycombs').honeycombs({combWidth:200});
			}
		</script>

	</section>
