
		<section id="palabres" class="tableau">
		
			<article><h2>Votre logo en 3D</h2><p>Petite démo de ce qu'il est maintenant possible de réaliser avec HTML5, webGL (l'accélération matérielle), et le framework Javascript Threejs. Utilisez votre souris pour manipuler la démo ci-dessous (clic droit, gauche et molette)... N'hésitez pas à nous demander si vous souhaitez vous faire fabriquer votre logo en 3D !

<br/><br/>

<div id="anim" style="margin:auto;height:350px;position:relative;"></div>

<script>// <![CDATA[
	post_load = function()
	{
		anim_demo3d('#anim')
	}
// ]]></script></p><div class="open"><span>Lire la suite</span></div></article><article><h2>Nouveau site pour l'Office du Tourisme de Lectoure</h2><p><p>La Dépêche fait la pub de notre client, et la nôtre ;)</p><p><img class="alignnone size-full wp-image-379 aligncenter" src="/uploads/2016/01/article-La-Dépèche-web.jpg" alt="article La Dépèche web" width="600" height="832" /></p></p><div class="open"><span>Lire la suite</span></div></article><article><h2>Une appli mobile bon marché</h2><p><p>Si jamais vous souhaitiez installer un site web sur le bureau de votre smartphone préféré, à la façon d'une application pour mobile, rien de plus simple !</p>

<p>Sur Iphone l'effet sera parfait, mais sur Androïd la barre d'url du navigateur sera encore apparente... L'utilisation de HTML5 et d'un fichier site.manifest permettra au navigateur de conserver une copie du cache à la première visite, puis de ne plus requérir de connexion internet pour fonctionner !</p>

<!--more-->

<p>Pour Iphone :</p>

<p style="text-align:center">
<a href="/uploads/2015/03/step1-163x300.png"><img class=" size-medium wp-image-110" src="/uploads/2015/03/step1-163x300-163x300.png" alt="step1-163x300" width="163" height="300" /></a>
<a href="/uploads/2015/03/step2-163x300.png"><img class=" size-medium wp-image-111" src="/uploads/2015/03/step2-163x300-163x300.png" alt="step2-163x300" width="163" height="300" /></a>
<a href="/uploads/2015/03/step3-163x300.png"><img class="alignnone size-medium wp-image-109" src="/uploads/2015/03/step3-163x300-163x300.png" alt="step3-163x300" width="163" height="300" /></a>
</p>

<p>Et pour Galaxy Tab II :</p>

<p style="text-align:center">
<a href="/uploads/2015/03/step12.png">
<img class="alignnone size-full wp-image-108" src="/uploads/2015/03/step12.png" alt="step12" width="185" height="291" /></a>
<a href="/uploads/2015/03/step22.png"><img class=" size-full wp-image-107" src="/uploads/2015/03/step22.png" alt="step22" width="185" height="291" /></a>
<a href="/uploads/2015/03/step32.png"><img class="alignnone size-full wp-image-106" src="/uploads/2015/03/step32.png" alt="step32" width="185" height="291" /></a>
</p>
</p><div class="open"><span>Lire la suite</span></div></article>
		</section>



		
		<script type="text/javascript">
		
			pre_load=function()
			{
				var speed = 400;
				
				var rememberHeight = function()
				{
					var h = $(this).height();
					$(this).data('fullHeight', h);
				}
				
				var doOpen = function( e )
				{
					e.parent().animate({ height: e.parent().data('fullHeight') }, speed);
				}
				
				var doClose = function( e )
				{
					e.parent().animate({ height: 55 }, speed);
				}
				
				var openClose = function()
				{
					$('#palabres article .open')
						.each(function(){ doClose($(this)) })

					if ( $(this).parent().height() != 55)
						doClose( $(this) );
						else
						doOpen( $(this) );
				}

				$('#palabres article')
					.each( rememberHeight )
					.children('.open')
						.on('click', openClose)

				doClose( $('#palabres article .open').slice(1) );
			}

		</script>
