
			<section id="product" class="tableau">
	

				<div class="jcarousel">
					<div id="conteneur">
						<article><img width="312" height="360" src="/uploads/2015/03/produit2.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="produit2" srcset="/uploads/2015/03/produit2.png 312w, /uploads/2015/03/produit2-260x300.png 260w" sizes="(max-width: 312px) 100vw, 312px" /><h2>E-commerce</h2><ul>
    <li>CMS open source</li>
    <li>votre charte visuelle</li>
    <li>hosting</li>
</ul>
<p>à partir de 1499&nbsp;€ </p></article><article><img width="312" height="360" src="/uploads/2015/03/produit5.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="produit5" srcset="/uploads/2015/03/produit5.png 312w, /uploads/2015/03/produit5-260x300.png 260w" sizes="(max-width: 312px) 100vw, 312px" /><h2>Offices du tourisme</h2><p>Votre site adapté</p>

<ul>
    <li>CMS open source</li>
    <li>Hosting</li>
    <li>Connectivité CDTL</li>
    <li>Compatible TourinFrance</li>
</ul>

<p>199€ par mois</p></article><article><img width="312" height="360" src="/uploads/2015/03/produit4.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="produit4" srcset="/uploads/2015/03/produit4.png 312w, /uploads/2015/03/produit4-260x300.png 260w" sizes="(max-width: 312px) 100vw, 312px" /><h2>Grands comptes</h2><ul>
    <li>Maîtrise d'ouvrage</li>
    <li>Positionnement de marque</li>
    <li>Développement</li>
</ul>
<p>devis sur demande</p></article><article><img width="312" height="360" src="/uploads/2015/03/produit1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="produit1" srcset="/uploads/2015/03/produit1.png 312w, /uploads/2015/03/produit1-260x300.png 260w" sizes="(max-width: 312px) 100vw, 312px" /><h2>TPE / PME</h2><ul>
    <li>CMS open source</li>
    <li>hébergement</li>
    <li>marketing</li>
</ul>
<p>à partir de 1000&nbsp;€</p></article><article><img width="312" height="360" src="/uploads/2015/03/produit3.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="produit3" srcset="/uploads/2015/03/produit3.png 312w, /uploads/2015/03/produit3-260x300.png 260w" sizes="(max-width: 312px) 100vw, 312px" /><h2>Assos / collectivités</h2><ul>
    <li>votre site internet</li>
    <li>hébergement</li>
</ul>

<p>à partir de 599&nbsp;€</p>
</article>					</div>
				</div>
				

				<div id="submenu">
					<img src="/img/gallery-trigger-left.png" alt="naviguer vers la gauche" />
					<span id="pagin"></span>
					<img src="/img/gallery-trigger-right.png" alt="naviguer vers la droite" />
				</div>
		



				<script>
					do_resize = function()
					{
						$('#submenu').css({
							'width': $(window).width()
						})

						$('#pagin').css({
							'width': $(window).width() - 200
						})
						
						$('#conteneur').css({
							'height': $(window).height() - $('#submenu').outerHeight() - $('body>nav').outerHeight()
						})

						var horizontal_margin = ( $(window).width() - $('#product article:first').outerWidth() ) / 2;
						var top_margin = ( $('#conteneur').height() - $('#conteneur>article').outerHeight() ) / 2;

						if( top_margin<15 ) top_margin = 15;
						
						$('#product article').css({
							'marginTop':top_margin,
							'marginLeft':horizontal_margin,
							'marginRight':horizontal_margin
						});
					}						

					keyboard = function(e)
					{
						console.log( e.keyCode );
						
						if( e.keyCode==37 )	// left
						{
							$('#submenu>img:first-of-type').click();
						}
						
						if( e.keyCode==39 )	 //right
						{
							$('#submenu>img:last-of-type').click();
						}
					}
					
					pre_load = function()
					{
						$(window).on('resize', do_resize);
						do_resize();
					}

					post_load = function()
					{
						$('.jcarousel').jcarousel();
						
						$('#submenu>img').show(1000);//.css('top', ( $(window).innerHeight() - $('nav').outerHeight() - 100 ) / 2 );
						$('#submenu>img:first-of-type').jcarouselControl({target:'-=1'});
						$('#submenu>img:last-of-type').jcarouselControl({target:'+=1'});
		
						$('#pagin').jcarouselPagination({
							perPage:1,
							item:function(page, carouselItems){
								lib = carouselItems.find('h2').html()
								return '<a href="#' + page + '" class="noajax">' + lib + '</a>'
							}
						}).animate({opacity:1.0},1000);

						$(window).on('resize', pre_load);
						$(window).on('keyup', keyboard);
					}
					
					unload = function()
					{
						
					}

				</script>


			</section>




